[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_MELLOW-if00
### 查询usb固件id是：ls -l /dev/serial/by-id/
### 把/dev/serial/by-id/usb-Klipper_rp2040_XXXXXXXXXXXXXXXXXXXXX替换查询到的id
# requisitos:
#1- sudo apt install python3-numpy python3-matplotlib libatlas-base-dev
#2- ~/klippy-env/bin/pip install matplotlib numpy
### usos
# ACCELEROMETER_QUERY
# SHAPER_CALIBRATE
# SAVE_CONFIG
# SHAPER_CALIBRATE AXIS=X

# generar resultados graficos:
#TEST_RESONANCES AXIS=X
#TEST_RESONANCES AXIS=Y
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o /tmp/shaper_calibrate_x.png
#~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o /tmp/shaper_calibrate_y.png
#

##ADXL345加速度计
[adxl345]
cs_pin: adxl:gpio9
#cs_pin: adxl:none
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12
#spi_bus: spi0a
axes_map: y,x,-z # x,y,x


[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 30  # 

[output_pin power_mode] # Improve power stability
pin: adxl:gpio23