[include mainsail.cfg]
[include DGUS-Reloaded.cfg]
[include timelapse.cfg]
[include filament_change.cfg]
[include CR6.cfg]
#[include Dev_Macros.cfg]


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 10000
minimum_cruise_ratio: 0.55
square_corner_velocity: 4.7  #para ender3 el valor funcional es de 3.7 revisar y ajustar.
max_z_velocity: 15
max_z_accel: 100

[idle_timeout]
timeout: 60000
gcode:
    TURN_OFF_HEATERS
    
[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA5
position_endstop: -1
position_min: -1
position_max: 242
homing_speed: 100

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA6
position_endstop: 248
position_min: 0
position_max: 248
homing_speed: 100

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: ^PA7
#position_endstop = -0.215
position_min: -5
position_max: 300
homing_speed: 60
second_homing_speed: 5
homing_retract_dist: 5.0


[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 23.132 #BMG clon dice 420 valor previo buen resultado: 23.46
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_kp = 26.325
#pid_ki = 1.475
#pid_kd = 117.475
# valores para V6 con heater de k1/E3V3
#[extruder]
#control = pid
#pid_kp = 26.996
#pid_ki = 2.022
#pid_kd = 90.100
min_temp: 0
max_temp: 310
pressure_advance: 0.04
pressure_advance_smooth_time: 0.11
min_extrude_temp: 170
max_extrude_cross_section: 50

### esta seccion corresponde al extrusor de fabrica #####
#microsteps: 16
#rotation_distance: 22.84
#nozzle_diameter: 0.400
#filament_diameter: 1.750
##########################################################

[heater_bed]
heater_pin: PA15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 70.499
pid_Ki: 1.546
pid_Kd: 803.686
min_temp: 0
max_temp: 120

#[fan]
#pin: PA0
#kick_start_time: 0.2
#heater_fan: 50.0 

[heater_fan hotend_fan]
pin: PC6  # Cambia esto al pin donde está conectado tu ventilador
heater: extruder
heater_temp: 50.0  # Temperatura umbral en grados Celsius
fan_speed: 1.0     # Velocidad del ventilador (1.0 = 100%)


[fan_generic extruder_partfan]
pin: PA0


[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PA4

[input_shaper]
#shaper_type_x = 2hump_ei
#shaper_freq_x = 93.4
#shaper_type_y = 3hump_ei
#shaper_freq_y = 95.6
damping_ratio_x: 0.1
damping_ratio_y: 0.1

### arc ###
[gcode_arcs] # Enables support for G1/G2 from slicer (e.g. from arc welder)
resolution: 1.0

### sd card ###
[virtual_sdcard]
path: /home/diego/printer_ender7_data/gcodes
on_error_gcode: CANCEL_PRINT

[gcode_macro START_PRINT]
gcode:
    DGUS_PRINT_START
    SET_DISABLE_PAUSE_STOP
    G28
    ;BED_MESH_CALIBRATE
    ;BED_MESH_CALIBRATE
    ;BED_MESH_CLEAR
    ;BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5
    ;BED_MESH_PROFILE SAVE=bed_mesh_adaptative
    ;BED_MESH_PROFILE LOAD=bed_mesh_adaptative
    CLEAR_DISABLE_PAUSE_STOP
    ;TEST_RUNOUT_STATE
    STORE_REPRINT_PARAMETERS
    
[gcode_macro END_PRINT]
gcode:
    M106 S255 ;full fan
    G91 ; Use relative positioning
    G1 X5 Y5 F5000 ;Wipe out
    G1 Z10 F500 ;Raise Z
    G90 ; Use absolute positioning
    G1 X0 Y225 F2500 ;Present print
    TURN_OFF_HEATERS
    DGUS_PRINT_END ; # Causes DGUS-Reloaded to switch to the "Print Finished" screen
    M106 S0 ;Turn-off part cooling
    M84 X Y E ;Disable all steppers but Z
    
    
####################################
#  ENABLE exclude_object function  #
####################################
[exclude_object]

####################################
#  ENABLE respondfunction  #
####################################

#[pause_resume]
[respond]
default_type: error
default_prefix: 

[save_variables]
filename: /home/diego/printer_ender7_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount
    
    {% if printer['pause_resume'].is_paused|int == 0 %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro
    
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                  ; disable filament sensor
    SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
    BASE_PAUSE                                                                           ; pause print
    {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
    G91                                                                              ; relative positioning
    G1 Z{z} F900                                                                     ; raise Z up by z hop amount
    {% else %}
    { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
    {% endif %}
    G90                                                                                  ; absolute positioning
    G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
    SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
    M104 S0                                                                              ; turn off hotend
    SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}
    
[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 200
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)
    
    {% if printer['pause_resume'].is_paused|int == 1 %}
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                          ; enable filament sensor
    #INITIAL_RGB                                                                    ; reset LCD color
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
    {% if etemp > 0 %}
    M109 S{etemp|int}                                                        ; wait for hotend to heat back up
    {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
    G91                                                                          ; relative positioning
    M83                                                                          ; relative extruder positioning
    {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
    G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
    {% else %}
    G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
    {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
    BASE_RESUME                                                                  ; resume print
    {% endif %}
    
    
################################################
##### macros de lcd  ############################


################################################
    
    
################################################
##### macro para habilitar m600 (probar) ################
[gcode_macro M600]
gcode:
    G1 Y125 F9000
    G1 E-600 F1200
    G1 X220 F9000
    G1 Y35 F9000
    PAUSE
    
[gcode_macro CLEAN_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=pre_nozzle_clean
    # Absolute positioning
    G90
    G1 X0 Y0 F9000
    G1 Z3
    G1 X0 Y60 F9000
    G1 X0 Y0 F9000
    G1 X0 Y60 F9000
    G1 X0 Y0 F9000
    G1 X0 Y60 F9000
    G1 X0 Y0 F9000
    RESTORE_GCODE_STATE NAME=pre_nozzle_clean
    
    
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    #DGUS_PRINT_END
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    
[gcode_macro CHANGE_FILAMENT]
gcode:
    # PAUSE: Mover el cabezal a un lugar seguro y pausar la impresión
    PAUSE
    # PUSH_FILAMENT: Retirar el filamento actual
    PUSH_FILAMENT
    # Wait for filament change: Esperar a que el usuario confirme el cambio
    WAIT_FOR_FILAMENT_CHANGE
    # RESUME: Volver a la impresión
    RESUME
    
[gcode_macro BEEP]
description: BEEP I=3 DUR=200 FREQ=2000: Beep 3 times, for 200ms each, at 2kHz frequency.
gcode:
    # Parameters
    {% set i = params.I|default(1)|int %}           ; Iterations (number of times to beep).
    {% set dur = [params.DUR|default(100)|int,255] | min %}     ; Duration/wait of each beep in ms. Default 100ms.
    ;{% set freq = params.FREQ|default(2000)|int %}  ; Frequency in Hz. Default 2kHz, not supported sv06+
    
    {% for iteration in range(i|int) %}
    M300 P{dur}
    G4 P{dur}
    {% endfor %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 104.2
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 77.6
#*#
#*# [stepper_z]
#*# position_endstop = 0.020
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.996
#*# pid_ki = 2.022
#*# pid_kd = 90.100
